{% extends "base.html" %}

{% block title %}
    {{ SITENAME }} | {{ category }}
{% endblock title %}


{% block content %}
        <h1>{{ category }}</h1>
        {% for article in articles %}
            <article class="overview">
                <h1><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
                <div class="info">
                    {{ article.summary }}
                    <time pubdate="pubdate" datetime="">{{ article.locale_date }}</time>
                </div>
            </article>
        {% endfor %}

{% endblock content %}
