{% extends "base.html" %}

{% block title %}
    {{ SITENAME }} | {{ article.title }}
{% endblock title %}

{% block content %}
    <div class="row padding">
        <article class="blogpost col12 padding">
            <h1><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
                Modified: <time pubdate="pubdate" datetimes="">{{ article.modified }}</time>
                Created:  <time pubdate="pubdate" datetimes="">{{ article.date }}</time>
                {% if article.toc %}
                     <div id="toc" class="col12">
                         <h1>Table of content</h1>
                         {{ article.toc }}
                     </div>
                {% endif %}
            <section>
                {{ article.content }}
            </section>
        </article>
    </div>
{% endblock content%}
