{% extends "base.html" %}

{% block title %}
    {{ SITENAME }} | {{ article.title }}
{% endblock title %}

{% block content %}
    <div id="row padding">
        <article class="col12 blogpost padding">
            <h1><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
    {% if article.toc %}
            <div id="toc" class="col12">
                <h1>Table of content</h1>
                {{ article.toc }}
            </div>
    {% endif %}
            <section>
                {{ article.content }}
            </section>
        </article>
    </div>
{% endblock content%}
