<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="author" content="{{ AUTHOR }}">
    {% block head %}{% endblock %}

    <title>
        {% block title %}{% endblock title %}
    </title>

    <link rel="stylesheet" type="text/css" href="/theme/css/style.min.css"/>

</head>

<body>
    <nav>
        <ul>
            <li><a href="/pub/cv.html">CV</a></li>
            <li><a href="/categories.html">Categories</a></li>
            {% if DISPLAY_PAGES_ON_MENU %}
                {% for p in pages %}
                    <li><a href="/{{ p.url }}">{{ p.title }}</a></li>
                {% endfor %}
            {% endif %}
        </ul>
        <h1 class="right padding"><a href="/">kradalby.no</a></h1>
    </nav>
    <header>
    </header>
    <main>
        <section class="container padding">
            {% block content %}
            {% endblock content %}
        </section>
    </main>
    
    <footer>
        <section class="container padding center text-center">
            <p>&copy; <script type="text/javascript">
                      document.write(new Date().getFullYear());
              </script> Kristoffer Dalby</p>
            <a href="http://github.com/{{ GITHUB }}"><i class="fa fa-2x fa-github"></i></a>
            <a href="http://twitter.com/{{ TWITTER }}"><i class="fa fa-2x fa-twitter"></i></a>
            <a href="http://www.linkedin.com/pub/kristoffer-dalby/61/599/611"><i class="fa fa-2x fa-linkedin"></i></a>
        </section>
    </footer>

{% if GOOGLE_ANALYTICS %}
    {% include "include/ga.html" %}
{% endif %}

</body>
</html>
