{% extends "base.html" %}

{% block title %}
    {{ SITENAME }} | Categories
{% endblock title %}

{% block content %}
    <div class="row padding">
        <article class="blogpost col12 padding"
            <div id="toc">
                <h1>Table of content</h1>
                <div class="toc">
                    <ul>
                        {% for category, articles in categories %}
                            <li><a href="#{{ loop.index }}">{{ category }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% for category, articles in categories %}
                <h1 id="{{ loop.index }}">{{ category }}</h1>
                {% for article in articles %}
                    <li><a href="{{ article.url }}">{{ article.title }}</a></li>
                {% endfor %}
            {% endfor %}
        </article>
    </div>
{% endblock content%}
