{% extends "base.html" %}

{% block title %}
    {{ SITENAME }} | Categories
{% endblock title %}

{% block content %}
    <div class="row padding">
        <article class="blogpost col12 padding"
            <div class="toc">
                <ul>
                    {% for category, articles in categories %}
                        <li>{{ category }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% for category, articles in categories %}
                <h1>{{ category }}</h1>
                {% for article in articles %}
                    <li>{{ article.title }}</li>
                {% endfor %}
            {% endfor %}
        </article>
    </div>
{% endblock content%}
