{% extends "base.html" %}

{% block title %}
    {{ SITENAME }}
{% endblock title %}


{% block content %}
    <div class="row">
            {% for article in articles_page.object_list if article.category == "blog" %}
                <article class="col9 center">
                    <h1><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
                    <div class="info">
                        <time pubdate="pubdate" datetimes="">{{ article.locale_date }}</time>
                    </div>
                    <div>
                        {{ article.content }}
                    </div>
                </article>
                {% if loop.last and (articles_page.has_previous() or not articles_page.has_previous() and loop.length > 1) %} 
                    {% include "include/pagination.html" %}
                {% endif %}
            {% endfor %}
        <h1></h1>
    </div>

{% endblock content %}
