{% extends "base.html" %}

{% block description %}Title: {{ article.title }}; Date: {{ article.date|strftime('%d/%m/%Y %H:%M') }}; Modified: {{ article.modified|strftime('%d/%m/%Y %H:%M') }}; Author: {{ article.author }}{% endblock %}

{% block head %}
    <meta name="tags" content="{{ article.tags|join(',')|striptags }}" />
    <meta name="keywords" content="{{ article.tags|join(',')|striptags }}" />
    <meta name="date" content="{{ article.date|strftime('%d/%m/%Y %H:%M') }}" />
    <meta name="modified" content="{{ article.modified|strftime('%d/%m/%Y %H:%M') }}" />
    <meta name="category" content="{{ article.category }}" />
    <meta name="authors" content="{{ AUTHOR }}" />
{% endblock %}

{% block title %}
    {{ SITENAME }} | {{ article.title }}
{% endblock title %}

{% block content %}
    <div class="row padding">
        <article class="blogpost col12 padding">
            <h1><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
                <div class="time">
                    Modified: <time pubdate="pubdate" datetimes="">{{ article.modified|strftime('%d/%m/%Y %H:%M') }}</time>
                </div>
                <div class="time">
                    Created:  <time pubdate="pubdate" datetimes="">{{ article.date|strftime('%d/%m/%Y %H:%M') }}</time>
                </div>
                {% if article.toc %}
                     <div id="toc" class="col12">
                         <h1>Table of contents</h1>
                         {{ article.toc }}
                     </div>
                {% endif %}
            <section>
                {{ article.content }}
            </section>
        </article>
    </div>
{% endblock content%}
